

<div class="contents">
  <section>
    <div id="about" class="font-serif">
      <h1 class="mb-10 text-4xl text-yellow-400">Journal App</h1>
      <p class="w-8/12 ">Journaling might be the most underrated activity that can boost your productivity and well-being in just a few minutes a day. Just got your thoughts down or record what happened during the day for a simple way to manage stress, enhance creativity, increase happiness, improve health, and increase work performance, according to research.</p>
        <%= link_to signin_path do %>
          <button class="fas fa-play bg-yellow-600 text-gray-100 p-4 w-full rounded tracking-wide  focus:outline-none focus:shadow-outline hover:bg-yellow-400 shadow-lg mt-10">
          Get Started </button>
        <% end %>
      <img id="drag1" src="<%= asset_path('background.jpg') %>"  width="396" height="129" class="rounded mt-10 transform duration-200 hover:scale-110 cursor-pointer">
    </div>
    </div>
    
    <div class="leaf ">
      <div><img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="75px" width="75px" ></div>
      <div><img src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
    </div>
    
    <div class="leaf leaf1">
      <div><img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="75px" width="75px" ></div>
      <div><img src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
    </div>
    
    <div class="leaf leaf2">
      <div><img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="75px" width="75px" ></div>
      <div><img src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="75px" width="75px"></div>
      <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
    </div>
  </section>
</div>

<div id="about_mobile" class="font-serif">
  <h1 class="mb-10 text-4xl text-yellow-400">Journal App</h1>
    <p class="w-8/12 mb-10 text-white">Just got your thoughts down or record what happened during the day for a simple way to manage stress, enhance creativity, increase happiness, improve health, and increase work performance, according to research.</p>
      <%= link_to signin_path do %>
        <button class="fas fa-play bg-yellow-400 text-gray-100 p-4 w-full rounded tracking-wide  focus:outline-none focus:shadow-outline hover:bg-yellow-600 shadow-lg mt-10">
        Get Started </button>
      <% end %>
    <img id="drag1" src="<%= asset_path('background.jpg') %>"  width="396" height="129" class="rounded mt-10 transform duration-200 hover:scale-110 cursor-pointer">
  </div>
</div>